<nav class="navbar mb-4 navbar-light bg-light">
    <a class="navbar-brand" href="#">
        Cargochain
    </a>

    <form class="form-inline">
        <button class="btn btn-sm btn-outline-secondary" type="button" (click)="initialiseLedger()">Reinitialise Ledger</button>
      </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - User Information -->
        <li class="nav-item no-arrow">
            <a class="nav-link" href="#" id="userInfo">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Fish Inc</span>
                <img class="img-profile rounded-circle" src="https://img.icons8.com/dotty/80/000000/clown-fish.png">
            </a>
        </li>
    </ul>
</nav>